.sections {
    display: flex;
    flex-wrap: wrap;
}

.menu-icon {
    display: none;
}

.nav-menu {
    display: block;
}

/*Use better apprach to handle overlay image on the banner*/
@media screen and (max-width: 410px) {
    .intro {
        top: 15%;
        left: 50%;
    }

    .my-image {
        width: 100px;
    }

    .intro p {
        display: none;
    }
}

@media screen and (min-width: 411px) and (max-width: 699px) {
    .intro {
        top: 25%;
        left: 50%;
    }

    .my-image {
        width: 100px;
    }

    .intro p {
        font-size: 14px;
        color: #f1ebeb;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {

    .intro {
        top: 30%;
        left: 50%;
    }

    .my-image {
        width: 120px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {

    .intro {
        top: 35%;
        left: 50%;
    }

    .my-image {
        width: 130px;
    }
}

@media screen and (min-width: 1400px) {
    .intro {
        top: 100%;
        left: 50%;
    }

    .my-image {
        width: 200px;
    }
}

@media screen and (max-width: 700px) {
    .header-logo-lrg {
        display: none;
    }

    .header-logo-sml {
        display: inline-block;
        padding-top: 10px;
    }

    .menu-li {
        text-align: right;
        width: 100%;
    }

    .nav-menu {
        display: none;
    }

    .menu-li > a {
        display: block;
        float: none;
        text-align: right;
        background-color: #eaeaea;
        padding-top: 5px;
        margin: 0;
    }

    header nav ul {
        display: block;
        float: none;
    }

    .menu-icon {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
        cursor: pointer;
    }

    .menu-icon svg {
        width: 32px;
        fill: #c1c1c1;
    }

    .project {
        max-width: 200px;
        max-height: 320px;
        border: 1px solid #c1c1c1;;
        box-shadow: 0 5px 5px #c1c1c1;
        margin: 20px 10px;
        padding: 0 5px;
        overflow: hidden;
        position: relative;
    }

    .project > p {
        font-size: 13px;
        color: #636363;
    }

    .project > h1 {
        font-size: 14px;
        font-weight: bold;
        background-color: #c1c1c1;
        color: #ffffff;
        padding: 10px 0;
        margin: 0 -6px;
        text-align: center;
    }

    .project-img {
        width: 200px;
        height: 200px;
        margin: 15px 0 0 0;
    }

}

@media screen and (max-width: 600px) {

    .contact {
        order: 0;
    }

    .footer-about {
        order: 1;
    }

}

@media screen and (min-width: 701px) and (max-width: 800px) {
    .nav-menu > li {
        padding-right: 10px;
        font-size: 16px;
    }

    .header-logo-lrg {
        float: left;
        max-width: 160px;
        max-height: 40px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1023px) {
    .nav-menu > li {
        padding-right: 15px;
        font-size: 18px;
    }

    .header-logo-lrg {
        float: left;
        max-width: 180px;
        max-height: 50px;
        padding-left: 15px;
    }
}

@media screen and (min-width: 1001px) {
    .nav-menu > li {
        padding-right: 30px;
        font-size: 20px;
    }

    .header-logo-lrg {
        float: left;
        max-width: 200px;
        max-height: 50px;
        padding-left: 20px;
    }

    .sections {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
    }

    .contact-section {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
}
