.content {
    display: flex;
    flex-wrap: wrap;
}


.bar-menu {
    display: none;
}

@media screen and (max-width: 480px) {
    .content {
        background-color: red; /*TODO remove this*/
    }

    .bar-menu {
        display: inline-block;
        position: absolute;
        right: 0;
        padding: 1em;
    }

    .header-logo-lrg {
        display: none;
    }

    .header-logo-sml {
        display: inline-block;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .content {
        background-color: blue; /*TODO remove this*/
    }
}

@media screen and (min-width: 769px) {
    .content {
        background-color: white; /*TODO remove this*/
    }
}

@media screen and (min-width: 1280px) {
    .content {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
        background-color: green; /*TODO remove this*/
    }
}