html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

body {
    font-family: sans-serif Arial;
    font-size: 12px;
    background-color: #ffffff;
}

/* Header and nav*/
#header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.nav-menu {
    color: #000000;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
}

.nav-menu > li {
    display: inline-block;
    padding-right: 30px;
    font-size: 18px;
}

.nav-menu > li > a {
    text-decoration: none;
    color: #000000;
}

.nav-menu > li > a:hover {
    color: #7e8ca29c;
}

.header-logo-lrg {
    float: left;
    max-width: 200px;
    max-height: 50px;
    padding-left: 20px;
    padding-top: 7px;
}

.header-link {
    float: left;
    alignment: left;
    padding: 0;
}

.header-logo-sml {
    display: none;
    float: left;
    max-width: 200px;
    max-height: 50px;
    padding-left: 20px;
}

.banner {
    display: block;
    width: 100%;
    background-color: #f9f5f5;
}

.banner > .banner-image {
    display: block;
    width: 100%;
    max-height: 100%;
}

.intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 0 0;
}

.intro-name {
    font-size: 48px;
    font-weight: bold;
    color: #656363;
    padding: 0 0 0 0;

}

.intro-desc {
    font-size: 14px;
    color: #656363;
    padding: 0 0 0 0;
}

.my-image {
    width: 160px;
    border-radius: 100%;
    alignment: center;
}
/* Body sections */
.content {
    background-color: #FEF6D8;
    display: none;
}

.sections {
    font-size: 2em;
    text-align: center;
    color: #737272;
    padding: 0 30px 0 30px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.sections section {
    margin: 10px 0 10px 0;
}
.section-header {
    text-align: center;
    font-size: 25px;
    color: #797979;
    padding: 25px 0 25px 0;
}

/*About me */
.about-me {
    background-color: #f1efef;
}

.about-me p {
    padding: 0px 100px 0px 100px;
}

/*My Experiences*/
.experiences {
    background-color: #eae8e8;
    display: none;
}

/*My works*/
.works {
    background-color: #dedcda;
}

.projects {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 25px 0;
}

.project {
    max-width: 250px;
    max-height: 400px;
    border: 1px solid #c1c1c1;;
    box-shadow: 0 5px 5px #c1c1c1;
    margin: 20px 10px;
    padding: 0 5px;
    overflow: hidden;
    position: relative;
}

.project > p {
    font-size: 14px;
    color: #636363;
}

.project > h1 {
    font-size: 16px;
    font-weight: bold;
    background-color: #c1c1c1;
    color: #ffffff;
    padding: 10px 0;
    margin: 0 -6px;
    text-align: center;
}

.project-img {
    width: 250px;
    height: 250px;
    margin: 15px 0 0 0;
}

/*Hover over image*/
.project .project-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.project:hover .project-info,
.project.active .project-info {
    opacity: 1;
    list-style: none;
}

.project .accomplishment {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.project .hover-text {
    font-size: 15px;
    margin-top: 5px;
    padding-top: 2px;
}

.project.active .hover-text {
    display: block;
}

project-repo {
    display: none;
}

/*My Resume*/
.resume {
    background-color: #b9b7b6;
    display: none;
}

/* Footer */
#footer {
    background-color: #C31C1D;
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px 20px 100px;
}

.contact {
    padding: 0 0 0 0;
    margin-right: 50px;
}

.contact-me {
    float: left;
    /*margin-left: 50px;*/
    list-style: none;
    padding: 0 0 0 0;
}

.contact-me > li {
    display: flex;
    height: 100%;
    padding: 0 0 10px 0;
}

.contact-icon {
    float: left;
    width: 36px;
}

.contact-link {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 18px;
}

.footer-about {
    padding: 0px 0 0 0;
    display: block;
    height: 100%;
}

.footer-logo {
    alignment: center;
    padding: 15px 0 0 0;
    max-width: 200px;
    max-height: 50px;
}

.footer-info {
    font-size: 18px;
    color: #ffffff;
    padding: 0 0 0 0;
}

